p {
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 2em;
}

body.legal p, body.toc p {
    text-indent: 0;
    margin-top: 0;
    margin-bottom: 1em;
}

body.dedication p {
    text-indent: 0;
    margin-top: 1em;
    text-align: center;
}

p.center {
    text-align: center;
}

.toc-1 {
    margin-left: 1em;
}

.toc-2 {
    margin-left: 2em;
}
