@import "stylesheet";

$text-indent: 1cm;
$img-padding: 0.2cm;

/*
 * The WeasyPrint-specific rules for use with that application.
 */

@page {
    @bottom-center {
        content: counter(page);
        vertical-align: top;
        padding-top: 1em;
    }
    size: letter portrait;
    margin: 3cm 2cm;
}

@page :right {
    @top-right {
        content: themeString("edition.title");
        vertical-align: bottom;
        padding-bottom: 1em;
    }
    padding-left: 1cm;
}

@page :left {
    @top-left {
        content: themeString("edition.author");
        vertical-align: bottom;
        padding-bottom: 1em;
    }
    padding-right: 1cm;
}

@page chapter {
    @top-right { content: ""; }
    @top-left { content: ""; }
}

@page title {
    @top-right { content: ""; }
    @top-left { content: ""; }
    @bottom-center { content: ""; }
}

@page legal {
    @top-right { content: ""; }
    @top-left { content: ""; }
    @bottom-center { content: ""; }
}

body {
    // We assume hyphenate will be done as a pipeline.
    hyphens: manual;
}

p {
    text-indent: 0;
    margin-bottom: 1em;
}

div.cover {
    text-align: center;

    img {
        width: 80%;
    }
}

div.element-page-break {
    page-break-before: always;

    &.element-page-break-right {
        page: chapter;
        page-break-before: right;
    }

    &.element-page-break-left {
        page: chapter;
        page-break-before: left;
    }

    &.element-page-break-title {
        page: title;
    }

    &.element-page-break-legal {
        page: legal;
    }

}
div.element-page-pad-right {
    page-break-after: right;
}

div.chapter, div.appendix {
    // Give the chapter a little space to shift it down.
    padding-top: 10rem;

    // Paragraphs are formatted like text.
    p {
        text-indent: $text-indent;
        padding: 0;
        margin: 0;
        text-align: justify;
    }

    p:first-of-type {
        text-indent: 0;
    }

    p.single-image {
        text-indent: 0;
        text-align: center;

        img.single-image {
            width: 80%;
        }
    }
}

// All headers are centered here.
div.element-number {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
h1 {
    text-align: center;

    &.element-title {
        padding-bottom: 10rem;
    }
}

// PDFs don't show links as blue.
a {
    text-decoration: none;
    color: black;
}
